@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Administracion
                <small>Usuarios / Roles</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive"  width="300" height="250" src="https://www.dgdatos.es/pPublica/img/zonaPrivada.png" alt="">
            </a>
            <h3>
                 @Html.ActionLink("Users", "Index", "UsersData")
            </h3>
            <p>Management User</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive"  width="300" height="250" src="http://www.mynestudiocontable.com/images/Usuario-Pass-VSC.png" alt="">
            </a>
            <h3>
                <a href="#">Roles</a>
            </h3>
            <p>Management Roles</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Three</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Four</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Five</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3>
                <a href="#">Project Six</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    <!-- /.row -->
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>


    <!-- saved from url=(0029)http://rbista.com/demos/zwin/ -->
    <html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml" class="csstransforms csstransforms3d csstransitions">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
                font-weight: 400;
            }
        </style>
        <style type="text/css">
            .gm-style-pbc {
                transition: opacity ease-in-out;
                background-color: black;
                text-align: center;
            }

            .gm-style-pbt {
                font-size: 22px;
                color: white;
                font-family: Roboto,Arial,sans-serif;
                position: relative;
                margin: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        </style>
        <link type="text/css" rel="stylesheet" href="./Personal vCard Template_files/css">
        <style type="text/css">
            .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
                font-size: 10px;
            }
        </style>
        <style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>
        <style type="text/css">
            .gm-style {
                font-family: Roboto,Arial,sans-serif;
                font-size: 11px;
                font-weight: 400;
                text-decoration: none;
            }

                .gm-style img {
                    max-width: none;
                }
        </style>

        <title>Personal vCard Template</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="./Personal vCard Template_files/reset.css">
        <link rel="stylesheet" type="text/css" href="./Personal vCard Template_files/style.css">
        <link rel="stylesheet" type="text/css" href="./Personal vCard Template_files/prettyPhoto.css">
        <link rel="stylesheet" type="text/css" href="./Personal vCard Template_files/css(1)">

        <script type="text/javascript" src="./Personal vCard Template_files/jquery.min.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/jquery.easytabs.min.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/respond.min.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/jquery-ui-map.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/jquery.carouFredSel.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/plugins.js"></script>
        <script type="text/javascript" src="./Personal vCard Template_files/custom.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/common.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/map.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/util.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/onion.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/marker.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/controls.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/stats.js"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/AuthenticationService.Authenticate"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/ViewportInfoService.GetViewportInfo"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/vt"></script>
        <script type="text/javascript" charset="UTF-8" src="./Personal vCard Template_files/QuotaService.RecordEvent"></script>
    </head>
    <body>
        <!-- Container -->
        <section id="container">

            <!-- Header -->
            <header>
                <!-- Logo -->
                <div id="logo" style="display: none;">
                    <h2>ANDERSON SMITH</h2>
                    <h4>GRAPHIC &amp; WEB DESIGNER</h4>
                </div>
                <!-- /Logo -->
                <!-- Social Icons -->
                <ul class="socialicons">
                    <li class="socials-text">Social Profiles</li>
                    <li><a href="http://rbista.com/demos/zwin/#" class="transition">*</a></li>
                    <li><a href="http://rbista.com/demos/zwin/#" class="transition">,</a></li>
                    <li><a href="http://rbista.com/demos/zwin/#" class="transition">-</a></li>
                    <li><a href="http://rbista.com/demos/zwin/#" class="transition">1</a></li>
                </ul>
                <!-- /Social Icons -->
            </header>
            <!-- /Header -->
            <!-- Content -->
            <section id="content" data-easytabs="true">

                <!-- Profile -->
                <div id="profile" class="active" style="display: block;">
                    <!-- About section -->
                    <div class="about">
                        <div class="photo-inner">
                            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 153px; height: 188px; margin: 0px; overflow: hidden;">
                                <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 765px; height: 188px;">
                                    <li><img src="./Personal vCard Template_files/photo.jpg" height="186" width="153"></li>
                                    <li><img src="./Personal vCard Template_files/photo1.png" height="186" width="153"></li>
                                </ul>
                            </div>
                        </div>
                        <h1>ANDERSON SMITH</h1>
                        <h3>GRAPHIC &amp; WEB DESIGNER</h3>
                        <p>I like to make cool and creative designs. My design stash is always full of refreshing ideas. Feel free to take a look around my Vcard.</p>
                    </div>
                    <!-- /About section -->
                    <!-- Personal info section -->
                    <ul class="personal-info">
                        <li><label>Name</label><span>Anderson smith</span></li>
                        <li><label>Birthday</label><span>March 13, 1988</span></li>
                        <li><label>Address</label><span>Melbourne Victoria 3000 Australia</span></li>
                        <li><label>Email</label><span class="word-wrap">Anderson.smith@gmail.com</span></li>
                        <li><label>Phone</label><span>+123 456 789 111</span></li>
                        <li><label>Website</label><span class="word-wrap"><a href="http://rbista.com/demos/zwin/#">www.Andersonsmith.com</a></span></li>
                    </ul>
                    <!-- /Personal info section -->
                </div>
                <!-- /Profile -->
                <!-- Menu -->
                <nav class="menu">
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: absolute; top: auto; right: auto; bottom: auto; left: auto; z-index: 100; width: 600px; height: 116px; margin: -14px 0px 0px; overflow: hidden;">
                        <ul class="tabs" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1800px; height: 116px;">
                            <li class="tmenu active" style="width: 150px;"><a href="http://rbista.com/demos/zwin/#profile" class="tab-profile active" style="margin-top: 0px;"><i>C</i>Profile</a></li>
                            <li class="tmenu" style="width: 150px;"><a href="http://rbista.com/demos/zwin/#resume" class="" style="margin-top: 0px;"><i>:</i>Resume</a></li>
                            <li class="tmenu" style="width: 150px;"><a href="http://rbista.com/demos/zwin/#portfolio" class="" style="margin-top: 0px;"><i>8</i>Portfolio</a></li>
                            <li class="tmenu" style="width: 150px;"><a href="http://rbista.com/demos/zwin/#contact" class="" style="margin-top: 0px;"><i>!</i>Contact</a></li>
                        </ul>
                    </div>
                    <a class="prev hidden disabled" id="menu-prev" href="http://rbista.com/demos/zwin/#" style="display: none;"></a>
                    <a class="next hidden" id="menu-next" href="http://rbista.com/demos/zwin/#" style="display: none;"></a>
                </nav>
                <!-- /Menu -->
                <!-- Resume -->
                <section id="resume" class="" style="display: none; position: static; visibility: visible;">
                    <div class="timeline-section">
                        <!-- Timeline for Employment  -->
                        <h3 class="main-heading">Employment</h3>
                        <ul class="timeline">
                            <li>

                                <div class="timelineUnit">
                                    <h4>Manager<span class="timelineDate">2010 - Present</span></h4>
                                    <h5>Ligula Non Lectus</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p>
                                </div>
                            </li>
                            <li>

                                <div class="timelineUnit">
                                    <h4>Web Developer<span class="timelineDate">2008 - 2010</span></h4>
                                    <h5>Lorem ipsum</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus. amet ligula non lectus Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                                </div>
                            </li>
                            <li>

                                <div class="timelineUnit">
                                    <h4>Web Designer<span class="timelineDate">2007</span></h4>
                                    <h5>Consectetur adipiscing </h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit Vivamus sit. Vivamus sit.. consectetur adipiscing Vivamus sit. Vivamus sit </p>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <!-- /Timeline for Employment  -->
                        <!-- Timeline for Education  -->
                        <h3 class="main-heading">Education</h3>
                        <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>Graphic Design<span class="timelineDate">2010 - 2012</span></h4>
                                    <h5>School Of Design</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet </p>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>Graphic Design<span class="timelineDate">2009</span></h4>
                                    <h5>School of the Arts</h5>
                                    <p>Lorem ipsum dolor sit amet, adipiscing elit. egestas.Vivamus sit amet ligula non lectus cursus egestas amet ligula non lectus cursus egestas. </p>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <!-- /Timeline for Education  -->
                    </div>
                    <div class="skills-section">
                        <!-- Skills -->
                        <h3 class="main-heading">Graphics and media skills</h3>
                        <ul class="skills">
                            <li>
                                <h4>Photoshop</h4>
                                <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Indesign</h4>
                                <div class="rating" data-rat="6"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span></div>
                            </li>
                            <li>
                                <h4>Illustrator</h4>
                                <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Flash</h4>
                                <div class="rating" data-rat="3"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Corel Draw</h4>
                                <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Cinema4D</h4>
                                <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
                            </li>
                        </ul>

                        <h3 class="main-heading">Programming Skills</h3>
                        <ul class="skills">
                            <li>
                                <h4>Dreamweaver</h4>
                                <div class="rating" data-rat="6"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span></div>
                            </li>
                            <li>
                                <h4>Php/Sql</h4>
                                <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Javascript</h4>
                                <div class="rating" data-rat="7"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span></div>
                            </li>
                            <li>
                                <h4>Wordpress</h4>
                                <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Drupal</h4>
                                <div class="rating" data-rat="4"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span></div>
                            </li>
                        </ul>
                        <h3 class="main-heading">Design Skills</h3>
                        <ul class="skills">
                            <li>
                                <h4>Graphic Design</h4>
                                <div class="rating" data-rat="6"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span></div>
                            </li>
                            <li>
                                <h4>Web design</h4>
                                <div class="rating" data-rat="5"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span></div>
                            </li>
                            <li>
                                <h4>Print Design</h4>
                                <div class="rating" data-rat="2"><span style="opacity: 1;"></span><span style="opacity: 1;"></span><span></span><span></span><span></span><span></span><span></span></div>
                            </li>
                        </ul>
                        <!-- /Skills -->
                    </div>
                    <div class="clear"></div>
                    <a href="http://rbista.com/demos/zwin/#" class="button transition">Download resume as PDF format</a>
                </section>
                <!-- /Resume -->
                <!-- Portfolio -->
                <section id="portfolio" class="" style="display: none; position: static; visibility: visible;">
                    <ul class="cats-filter" id="portfolio-filter">
                        <li><a href="http://rbista.com/demos/zwin/" class="current transition" data-filter="*">All</a></li>
                        <li><a href="http://rbista.com/demos/zwin/" class="transition" data-filter=".webdesign">WebDesign</a></li>
                        <li><a href="http://rbista.com/demos/zwin/" class="transition" data-filter=".photoghraphy">Photoghraphy</a></li>
                        <li><a href="http://rbista.com/demos/zwin/" class="transition" data-filter=".illustration">Illustration</a></li>
                        <li><a href="http://rbista.com/demos/zwin/" class="transition" data-filter=".print">Print</a></li>
                        <li><a href="http://rbista.com/demos/zwin/" class="transition" data-filter=".animation">Animation</a></li>
                    </ul>
                    <div class="extra-text">Some of the projects i'm proud with</div>
                    <ul id="portfolio-list" class="isotope" style="position: relative; overflow: hidden; height: 432px;">
                        <li class="illustration print isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/1.jpg" rel="portfolio[1]" title="Lorem ipsum dolor sit amet, consectetur adipiscing Vivamus sit amet ligula non lectus.consectetur adipiscingVivamus sit amet" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/1-thumb.jpg" alt="Image Title" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/1-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Hello Goodbye</h2>
                                <span class="categorie">Print / Illustration</span>
                            </a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio[1]" title="This is the description" class="folio hidden"></a>
                        </li>
                        <li class="webdesign isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(205px, 0px, 0px);">
                            <a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" rel="portfolio" title="This is the description" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/3-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/3-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Snow time</h2>
                                <span class="categorie">Webdesign</span>
                            </a>
                        </li>
                        <li class="photoghraphy isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(410px, 0px, 0px);">
                            <a href="http://www.google.com/" target="_new">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/2-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/2-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Help us</h2>
                                <span class="categorie">Photography</span>
                            </a>
                        </li>
                        <li class="animation print isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(615px, 0px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/4.jpg" rel="portfolio" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/4-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/4-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Sunshine</h2>
                                <span class="categorie">Print / Animation</span>
                            </a>
                        </li>
                        <li class="animation isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 216px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/5.jpg" rel="portfolio" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/5-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/5-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Come together</h2>
                                <span class="categorie">Animation</span>
                            </a>
                        </li>
                        <li class="webdesign print isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(205px, 216px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/6.jpg" rel="portfolio" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/6-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/6-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">The yellow</h2>
                                <span class="categorie">Webdesign / Print</span>
                            </a>
                        </li>
                        <li class="photoghraphy isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(410px, 216px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/7.jpg" rel="portfolio" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/7-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/7-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Black bird</h2>
                                <span class="categorie">Photoghraphy</span>
                            </a>
                        </li>
                        <li class="illustration isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(615px, 216px, 0px);">
                            <a href="http://rbista.com/demos/zwin/portfolio/8.jpg" rel="portfolio" class="folio">
                                <div class="adipoli-wrapper undefined" style="width:180px; height:120px;"><img src="./Personal vCard Template_files/8-thumb.jpg" alt="" style="display: none;"><div class="adipoli-before undefined" style="width: 180px; height: 120px; opacity: 0.6;"><img src="./Personal vCard Template_files/8-thumb.jpg"></div><div class="adipoli-after undefined" style="display:none;width:180px; height:120px;"></div></div>
                                <h2 class="title">Revolution</h2>
                                <span class="categorie">Illustration</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- /Portfolio -->
                <!-- Contact -->
                <section id="contact" class="" style="display: none; position: static; visibility: visible;">
                    <div id="map" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -254px; top: -204px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -254px; top: -204px;"><canvas draggable="false" height="256" width="256" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div></div></div></div><div style="position: absolute; z-index: 0; transform: translateZ(0px); left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: -254px; top: -204px; transition: opacity 200ms ease-out;"><img src="./Personal vCard Template_files/vt(1)" draggable="false" alt="" style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div class="gm-style-pbc" style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%; transition-duration: 0.3s; opacity: 0; display: none;"><p class="gm-style-pbt">Use two fingers to move the map</p></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=-37.81759,144.964557&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="./Personal vCard Template_files/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 0px; height: 0px; position: absolute; left: 5px; top: 5px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="./Personal vCard Template_files/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 0px; bottom: 0px; width: 12px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Map Data</a><span style="display: none;">Map data ©2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2016 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; -webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="./Personal vCard Template_files/sv5.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 112px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px; display: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-37.81759,144.964557,16z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; -webkit-user-select: none; position: absolute; bottom: 0px; right: 0px; display: none;"><div class="gmnoprint" style="position: absolute; left: 0px; top: 38px; display: none;" controlwidth="28" controlheight="55"><div draggable="false" style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="./Personal vCard Template_files/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="./Personal vCard Template_files/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px; display: none; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; display: none; background-color: rgb(255, 255, 255);"><img src="./Personal vCard Template_files/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 0px; height: 0px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="./Personal vCard Template_files/tmapctrl4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 170px; height: 54px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; display: none; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Show street map" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; font-weight: 500; background-color: rgb(255, 255, 255); background-clip: padding-box;">Map</div><div style="z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 0px; text-align: left; display: none; background-color: white;"><div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap; background-color: rgb(255, 255, 255);"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="./Personal vCard Template_files/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label></div></div></div><div class="gm-style-mtc" style="float: left;"><div draggable="false" title="Show satellite imagery" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left-width: 0px; background-color: rgb(255, 255, 255); background-clip: padding-box;">Satellite</div><div style="z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 0px; text-align: left; display: none; background-color: white;"><div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap; background-color: rgb(255, 255, 255);"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle; background-color: rgb(255, 255, 255);"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="./Personal vCard Template_files/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label></div></div></div></div></div></div>
                    <!-- Contact Info -->
                    <div class="contact-info">
                        <h3 class="main-heading"><span>Contact info</span></h3>
                        <ul>
                            <li>Melbourne Victoria 3000 Australia<br><br></li>
                            <li>Email: John.smith@gmail.com</li>
                            <li>Phone: +123 456 789 111</li>
                            <li>Website: www.johnsmith.com</li>
                        </ul>
                    </div>
                    <!-- /Contact Info -->
                    <!-- Contact Form -->
                    <div class="contact-form">
                        <h3 class="main-heading"><span>Let's keep in touch</span></h3>
                        <div id="contact-status"></div>
                        <form action="http://rbista.com/demos/zwin/" id="contactform">
                            <p>
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="input">
                            </p>
                            <p>
                                <label for="email">Your Email</label>
                                <input type="text" name="email" class="input">
                            </p>
                            <p>
                                <label for="message">Your Message</label>
                                <textarea name="message" cols="88" rows="6" class="textarea"></textarea>
                            </p>
                            <input type="submit" name="submit" value="Send your message" class="button transition">
                        </form>
                    </div>
                    <!-- /Contact Form -->
                </section>
                <!-- /contact -->
            </section>
            <!-- /Content -->
            <!-- Footer -->
            <footer>
                <div class="copyright">Copyright © 2013 John smith</div>
            </footer>
            <!-- /Footer -->

        </section>
        <!-- /Container -->

    </body>
</html>
}